<%-include("partials/header");%>
<h1>Compose</h1>
<form action="/compose" method="post">
<div class="form-floating">
 <label for="floatingTextarea">Title</label>
  <input class="form-control" name="posttitle"  style="height: 30px;" id="floatingTextarea"></input>
</div>
<div class="form-floating">
 <label for="floatingTextarea">Post</label>
<textarea class="form-control" name="postbody" id="floatingTextarea" style="height: 100px;"></textarea>
</div>
<button type="submit"name="button" class="btn btn-primary" style="margin-top:10px;">Publish</button>
</form>

<%-include("partials/footer");%>