@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.titler:hover {
    transform: scale(1.2);
    color: #8c45e9;
}

.titler {
    transform: scale(1);
    transition: transform 0.7s ease;
    color: #eb3075;
    font-size: 10rem;
    text-decoration: none
}

.lolman {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 320px 20vw;
    height: 30vh;
    padding-top: 10%;
}