.mcont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.cont1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
}

.cont2 {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 1;
    margin-left: 25%;
    margin-top: 10%;
}
.index{
    font-size: 42px;
    font-family: cursive;
    
}