<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form>
        </div>
        <br/>
        <div className="Team">
            <label for="tn">Please enter your Team name</label>
            <input className="inputbox" type="text" id="tn" name="TeamName" placeholder="Entern Team name" onChange={handleChange}></input>
        </div>
        <br/>
        <div className="Team">
            <label for="pid1">Player 1</label>
            <input className="inputbox" type="text" id="pid1" name="PlayerId" placeholder=" Username-#abcd" onChange={handleChange}></input>
        </div>
        <div className="Team">
            <label for="pid2">Player 2</label>
            <input className="inputbox" type="text" id="pid2" name="PlayerId" placeholder=" Username-#abcd" onChange={handleChange}></input>
        </div>
        <div className="Team">
            <label for="pid3">Player 3</label>
            <input className="inputbox" type="text" id="pid3" name="PlayerId" placeholder=" Username-#abcd" onChange={handleChange}></input>
        </div>
        <div className="Team">
            <label for="pid4">Player 4</label>
            <input className="inputbox" type="text" id="pid4" name="PlayerId" placeholder=" Username-#abcd" onChange={handleChange}></input>
        </div>

        <div className="Team">
            <label for="pid5">Player 5</label>
            <input className="inputbox" type="text" id="pid5" name="PlayerId" placeholder=" Username-#abcd" onChange={handleChange}></input>
        </div>
    </form>

</body>

</html>