* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }
  body {
    height: 100vh;
    background: linear-gradient(#18f040 50%, #16191e 50%);
  }
  .container {
    width: 90vw;
    max-width: 37.5em;
    background-color: #242831;
    padding: 6em 3em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .inp-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 1.2em;
  }
  label {
    color: #d5d5d5;
    display: block;
    font-weight: 600;
  }
  input[type="date"] {
    font-size: 16px;
    padding: 1em;
    color: #243126;
    border: none;
    outline: none;
    border-radius: 0.2em;
    margin-top: 0.6em;
  }
  ::-webkit-calendar-picker-indicator {
    background-color: #18f08b;
    padding: 0.2em;
    cursor: pointer;
    border-radius: 0.1em;
  }
  button {
    display: block;
    background-color: #18f08b;
    color: #16191e;
    font-size: 18px;
    margin: 1em auto 2em auto;
    border: none;
    padding: 0.7em 2em;
    border-radius: 0.3em;
    font-weight: 600;
  }
  
  #output {
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
    padding: 1em;
    color: #ffffff;
    font-size: 1.2em;
    letter-spacing: 0.05em;
  }
  #output span {
    color: #18f08b;
    font-size: 1.4em;
    font-weight: 600;
  }
  @media screen and (max-width: 550px) {
    .container {
      padding: 4em 2em;
    }
    .inp-wrapper {
      flex-direction: column;
    }
    .date-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
   .container h1{
    font-weight:bolder;
    color:Blue;
    justify-content:center;
    align-items:center;
    padding-left:5rem;
    padding-bottom:3rem;
  }
