.register {
    padding: 1rem;
    text-align: center;
    color: blueviolet;
    z-index: +1;
}

.register>input {
    border-radius: 8px;
    border: 2px solid #000000;
    outline: none;
    color: #000000;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 52%;
    font-size: 1rem;
    background: #e8daf0;
    font-family: 'Roboto', sans-serif;
}

.small {
    font-size: small;
}

.register>.button {
    background: #9944ca;
    border: 1px solid #19023d;
    color: rgb(255, 255, 255);
    font-size: 1.0rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width: 40%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.inputr {
    border-radius: 8px;
    border: 2px solid #000000;
    outline: none;
    color: #000000;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 52%;
    font-size: 1rem;
    background: #e8daf0;
    font-family: 'Roboto', sans-serif;
}

.redhot {
    padding-left: 24px;
}

.redhot>input {
    width: 69%;
}